*:root 

.card {
    width: 200px;
    background-color: #101204ba;
    color: #b6c2cf;
    border-radius: 12px;
    padding: 12px;
    flex: 1 1 auto; 
    margin: 8px; 
    flex-shrink: 0; /* Evita que os cards encolham e afetem o tamanho da div cards */
}


.title {
    justify-content: space-around;
    margin: 10px;
    align-items: left;
}



.task_list{
    display: grid;
    grid-template-rows: auto 1fr auto; 
    gap: 8px;
 
}

.task_input {
    background-color: #22272b;
    color: #b6c2cf;
    border: none;
    padding: 10px;
    border-radius: 10px;

}

#task-action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#task-history:hover {
    background: hsla(180,0%,50%,0.25);
    cursor: pointer;
}

button {
    background-color: #101204ba;
    padding: 8px;
    border-style: none;
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
    color: #b6c2cf;
    display: flex;
}

button:hover {
    background: hsla(180,0%,50%,0.25);
}