.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(145deg, #4b5563, #374151);
    color: #e5e7eb;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.3s;
  }
  
  .task:hover {
    transform: translateY(-1px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  }
  
  .task_content {
    display: flex;
    align-items: center;
  }
  
  .task_close {
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .task_close:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
  }
  